.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.RestaurantName,
h1 {
  text-align: center;
}

.CustomerMenu,
button {
  position: relative;
}

.MenuList {
  position: relative;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.listFood {
  background: rgb(240, 182, 7);
  border-width: 3px;
  border-color: rgb(195, 27, 14);
  border-style: double solid;
  border-radius: 5px;
  padding: 2px;
  margin: auto;
  width: 80%;
  margin-bottom: 1%;
}

.listRes {
  background: #0b0c0c;
  border-width: 3px;
  border-color: #3c8dbc;
  border-style: double solid;
  border-radius: 5px;
  padding: 2px;
  margin: auto;
  width: 80%;
}
