.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}



.RestaurantName, h1{
    text-align: center;
}

.CustomerMenu, Button{
    position: relative;

}

.MenuList{
    position: relative;
    
}
